.auth-wrapper {
  min-height: calc(100vh - 70px); // navbar space
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4d68f;
}

.auth-card {
  width: 380px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.auth-card h3 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

.auth-group {
  margin-bottom: 15px;
}

.auth-group label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.auth-group input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-btn {
  width: 100%;
  margin-top: 15px;
}
